body {
    font-family: Work sans;
    width: fit-content;

}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: black;

}

.abc {
    position: absolute;

}


#navbar {

    background-color: white;
    display: flex;
    flex-direction: row;
    margin-left: 65%;



}

#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    display: inline-block;



}

#navbar ul li a {
    color: black;
    padding: 5px;
    text-decoration: none;

}

.ab {
    margin-left: 10%;
    font-weight: bold;
}

.ab :hover {
    color: blueviolet;
}




.a1 {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 5px;
    margin-left: 23%;

}


.a3 {
    font-weight: bolder;
    font-size: x-large;
    border: none;
    display: inline-block;
}


.a2 {
    height: 25px;
    width: 25px;
    border: none;
    padding-top: 5px;
    background-color: blueviolet;
    border-radius: 100%;
    color: white;
    display: inline-block;


}

.a4 {
    background-color: blueviolet;
    border: none;
    color: white;
}


.a6 {
    font-size: 30px;
    font-weight: bolder;
}

.a7 {
    background-color: blueviolet;
    color: white;
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    border: none;
    border-radius: 5%;
}

.a8 {
    padding-top: 30%;
    gap: 05px;
    display: flex;
    flex-direction: row;
}

.a9 {
    font-weight: bold;
    font-size: large;
    border: none;
    background-color: #F6EBFC;

}

.b2 {
    font-size: small;
    font-weight: normal;
}

.b3 img {
    background-color: white;
}



.b4 img {
    height: 300px;
    width: 300px;
    background-color: rgb(246, 239, 239);
}



.b5 {
    font-size: 30px;
    font-weight: bolder;

}

.b6 {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 1%;
    font-weight: bold;
}

.b7 {
    background-color: white;
    border-color: blueviolet;
    color: blueviolet;
    padding: 1%;
    font-weight: bold;
}


.icon1 {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;

}

.b1 {
    display: grid;
    grid-template-columns: 60% 40%;
    width: min-content;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 10%;
    padding-left: 30%;
    grid-gap: 40px;
}




.c3 {
    font-size: 30px;
    font-weight: bolder;

}

.c6 {
    display: flex;
    flex-direction: column;
}


.c7 {
    display: flex;
    flex-direction: column;
}

.c4 {
    display: flex;
    flex-direction: row;
    width: 25%;
}


.c2 {
    display: flex;
    flex-direction: row;
    background-color: #f0f1f3;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    padding-top: 5%;


}

.c8 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.b9 {
    padding-bottom: 0%;
    padding-left: 5%;
}



.hello {
    position: absolute;

}

.hey {
    position: absolute;

}

.i1 {
    width: 1510px;
    height: 200px;
}

.i2 {
    width: 1510px;
    height: 600px;

}

.i3 {
    width: 1510px;
    height: 400px;
    bottom: 150px;
    position: relative;
}



.c5 {
    background-color: white;
    border: 5px solid #f0f1f3;
    padding: 4%;
    border-radius: 7%;

}

.c7 {
    padding-top: 5%;
}

.c3 {
    padding-top: 10%;
}



.icon {
    display: flex;
    background-color: white;
    justify-content: center;
    position: relative;
    padding: 15px;
    bottom: 20px;
    width: fit-content;
    margin-left: 20%;
    border: solid white 2px;
    border-radius: 03%;
    box-shadow: 3px 3px 3px 3px #f0f1f3;

}



.c1 {

    padding: 3%;
    position: relative;
    top: 30px;
    margin-left: 350px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    background-color: white;
    width: 50%;
    gap: 80px;

}

.c6 {
    gap: 5px;
}

.c4 {
    gap: 5px;
}

.c7 {
    gap: 5px;
}

.abcd {
    height: 100px;
    border: solid black 2px;
}

.mn {
    font-weight: bolder;
}






/*media queries*/



@media(max-width:1350px) {

    .i1 {
        height: 350px;
        width: 2150px;

    }

    .i2 {
        height: 600px;
        width: 2150px;
        top: 30%;
    }

    .i3 {
        height: 500px;
        width: 2150px;
    }

    #navbar {
        margin-left: 50%;
    }

    .a1 {
        font-size: 25px;
        padding-top: 10px;
    }

    .ab {
        font-size: 25px;
    }

    .c2 {
        gap: 10px;
        width: 165%;
    }

    .b1 {
        width: fit-content;
    }

    .c1 {
        width: fit-content;
    }

    .a5 {
        font-size: 25px;
    }

    .a8 {
        height: 70px;
        font-size: 30px;
    }

    .a7 {
        height: 50px;
        width: auto;
        font-size: 30px;
    }

    .b3 img {
        height: 350px;
        width: 350px;
    }

    .b9 {
        font-size: 25px;
    }

    .d3 img {
        height: 350px;
        width: 350px;
    }

    .b6 {
        height: 40px;
        font-size: 25px;
    }

    .b7 {
        height: 40px;
        font-size: 25px;
    }

    .c8 {
        font-size: 25px;
    }

    .c4 {
        padding-top: 5%;

    }

}


@media(max-width:1100px) {

    .i1 {
        height: 350px;
        width: 1750px;

    }

    .i2 {
        height: 700px;
        width: 1750px;
        top: 30%;
    }

    .i3 {
        height: 450px;
        width: 1750px;
    }

    #navbar {
        margin-left: 50%;
    }


    .a1 {
        font-size: 25px;
        padding-top: 10px;
    }

    .ab {
        font-size: 25px;
    }

    .c2 {
        gap: 10px;
        width: 140%;
    }

    .b1 {
        width: fit-content;
    }

    .c1 {
        width: 900px;
    }

    .a5 {
        font-size: 25px;
    }

    .a8 {
        height: 70px;
        font-size: 30px;
    }

    .a7 {
        height: 50px;
        width: auto;
        font-size: 30px;
    }

    .b3 img {
        height: 350px;
        width: 350px;
    }

    .b9 {
        font-size: 25px;
    }

    .d3 img {
        height: 350px;
        width: 350px;
    }

    .b6 {
        height: 40px;
        font-size: 25px;
    }

    .b7 {
        height: 40px;
        font-size: 25px;
    }

    .c8 {
        font-size: 25px;
    }

    .c4 {
        padding-top: 5%;

    }

}
@media(max-width:950px){
.a6 {
    font-size: 55px;
}

.b5{
    font-size: 55px;

}

.lmn{
    font-size: 45px;
}

.xyz {
    font-size: 45px;
}

.b3 img{
    height: 500px;
    width: 500px;
}

.a7{
    font-size: 40px;
    height: 50px;
    
}

.a9{
    height: 100px;
    width: 150px;
    font-size: 25px;
}

.b2{
    font-size: 25px;
}

.d3 img{
    height: 500px;
    width: 500px;
}

.icon{
    height: 50px;
    width: 150px;
}
.cc{
    font-size: 20px;
}

.c1{
    width: 1100px;
}

.b6{
    height: 50px;
    font-size: 40px;
}

.b7{
    height: 50px;
    font-size: 40px;

}

.d2{
    flex-direction: column;
    gap: 20px;
}

.c2{
    width: 120%;
}

.c3{
    font-size: 55px;
}

.tt{
    font-size: 35px;
}

.c5 {
    font-size: 30px;
    height: 320px;
    width: 300px;
}

.c4{
    gap: 15px;
}

.c6 {
    font-size: 40px;
    gap: 20px;
}

.c7 {
    font-size: 40px;
    gap: 20px;
}

.ab{
    font-size: 45px;
}

.a2{
    font-size: 35px;
    height: 50px;
    width: 50px;
}

#navbar{
margin-left: -9%;
}

.i1{
    height: 800px;
    width: 1800px;
}

.i2{
    height: 1200px;
    width: 1800px;

}

.i3{
    height: 900px;
    width: 1800px;
}

.a3{
    font-size: 45px;
}



}






@media(max-width:800px) {

    .i1 {
        height: 700px;
        width: 2000px;

    }

    .i2 {
        height: 1300px;
        width: 2000px;
        top: 30%;
    }

    .i3 {
        height: 700px;
        width: 2000px;
    }


    #navbar {
        margin-left: 200px;
    }

    .mn {
        font-size: 23px;
    }

    .nm {
        font-size: 18px;
    }

    .b2 {
        font-size: 25px
    }

    .a9 {
        height: 110px;
        width: auto;
        gap: 5px;
        font-size: 25px;
    }

    .a1 {
        font-size: 30px;
        padding-top: 10px;
    }



    .ab {
        font-size: 30px;
    }

    .c2 {
        gap: 10px;
        width: 150%;
    }

    .b1 {
        width: fit-content;
    }

    .c1 {
        width: 1000px;
    }

    .a5 {
        font-size: 30px;
    }

    .a8 {
        height: 75px;
        font-size: 35px;
    }

    .a7 {
        height: 55px;
        width: auto;
        font-size: 35px;
    }

    .b3 img {
        height: 350px;
        width: 350px;
    }

    .b9 {
        font-size: 35px;
    }

    .d3 img {
        height: 350px;
        width: 350px;
    }

    .b6 {
        height: 50px;
        font-size: 35px;
    }

    .b7 {
        height: 50px;
        font-size: 35px;
    }

    .c8 {
        font-size: 30px;
    }

    .c4 {
        padding-top: 5%;

    }

    .a2 {
        height: 45px;
        width: 45px;
        font-size: 20px;
    }

    .a3 {
        font-size: 35px;
    }

}



@media(max-width:600px) {

    .i1 {
        height: 700px;

    }

    .i2 {
        height: 1300px;
    }

    .i3 {
        height: 700px;
    }

    #navbar {
        margin-left: 170px;
    }

    .mn {
        font-size: 28px;
    }

    .nm {
        font-size: 23px;
    }

    .c3 {
        font-size: 40px;
    }

    .b2 {
        font-size: 30px
    }

    .a9 {
        height: 120px;
        width: auto;
        gap: 5px;
        font-size: 30px;
    }

    .a1 {
        font-size: 35px;
        padding-top: 10px;
    }



    .ab {
        font-size: 35px;
    }

    .c2 {
        gap: 10px;
        width: 140%;
    }

    .b1 {
        width: fit-content;
    }

    .c1 {
        width: 1100px;
    }

    .a5 {
        font-size: 35px;
    }

    .a8 {
        height: 80px;
        font-size: 40px;
    }

    .a7 {
        height: 60px;
        width: auto;
        font-size: 40px;
    }

    .b3 img {
        height: 350px;
        width: 350px;
    }

    .b9 {
        font-size: 40px;
    }

    .d3 img {
        height: 350px;
        width: 350px;
    }

    .b6 {
        height: 55px;
        font-size: 40px;
    }

    .b7 {
        height: 55px;
        font-size: 40px;
    }

    .c8 {
        font-size: 35px;
    }

    .c4 {
        padding-top: 5%;

    }

    .a2 {
        height: 50px;
        width: 50px;
        font-size: 25px;
    }

    .a3 {
        font-size: 40px;
    }

    .icon{
        width: 190px;
        height: 50px;
    }

    .cc{
        font-size: 25px;
    }

}



@media(max-width:500px) {



    /*hamburger menu*/


    

    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        left: 50px;

    }

    .bar{
        width: 35px;
        height: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .ab {
        position: absolute;
        left: -1000%;
        align-items: center;
        top: 60px;
        gap: 15px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-left: 10%;
    }

    .ab.active {
        left: 0;
    }

    .ab ul li {
        padding: 10%;
    }

    .a4 {
        display: none;
    }

    /*responsive*/



    .i1 {
        height: 900px;
        width: 1650px;

    }

    .i2 {
        height: 1500px;
        width: 1650px;
    }

    .i3 {
        height: 900px;
        width: 1650px;
    }

    .c2 {
        gap: 10px;
        width: 135%;
        flex-direction: column;

    }

    #navbar {
        padding-left: 100%;
        font-size: 50px;
    }

    

    .mn {
        font-size: 28px;
    }

    .nm {
        font-size: 23px;
    }

    .c3 {
        font-size: 50px;
    }

    .b2 {
        font-size: 30px
    }



    .a9 {
        height: 120px;
        width: auto;
        gap: 5px;
        font-size: 30px;
    }

    .a1 {
        font-size: 35px;
        padding-top: 10px;
    }



    .ab {
        font-size: 50px;
    }

  

    .b1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: fit-content;
    }

    .a8 {
        padding-top: 10%;
    }

    .c1 {
        width: 900px;
        flex-direction: column;
        justify-content: center;
    }

    .a6 {
        font-size: 50px;
    }

    .b5 {
        font-size: 55px;
    }

    .a5 {
        font-size: 45px;
    }

    .a8 {
        height: 80px;
        font-size: 40px;
    }

    .a7 {
        height: 60px;
        width: auto;
        font-size: 40px;
    }

    .b3 img {
        height: 450px;
        width: 450px;
    }

    .b9 {
        font-size: 50px;
    }

    .d3 img {
        height: 450px;
        width: 450px;
    }

    .b6 {
        height: 60px;
        font-size: 40px;
        padding: 0%;
    }

    .b7 {
        height: 60px;
        font-size: 40px;
        padding: 0%;
    }

    .c8 {
        width: 50%;
        font-size: 45px;
        justify-content: center;
    }

    .c4 {
        width: 50%;
        padding-top: 5%;
        flex-direction: column;
        margin-left: 30%

    }

    .c5 {
        font-size: 30px;
        height: 250px;
    }

    .c6 {
        font-size: 40px;
        gap: 20px;
    }

    .c7 {
        font-size: 40px;
        gap: 20px;
    }

    .a2 {
        height: 80px;
        width: 80px;
        font-size: 40px;
    }

    .a3 {
        font-size: 60px;
    }

    .icon{
        width: 190px;
        height: 50px;
    }

    .cc{
        font-size: 25px;
    }

}


@media(max-width:400px) {

    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        left: 50px;

    }

    .bar{
        width: 45px;
        height: 10px;
    }


    .i1 {
        height: 700px;
        width: 1500px;

    }

    .i2 {
        height: 1800px;
        width: 1500px;
    }

    .i3 {
        height: 800px;
        width: 1500px;
    }

    .c2 {
        gap: 10px;
        width: 120%;
        flex-direction: column;

    }

    #navbar {
        padding-left: 80%;
    }

    .mn {
        font-size: 31px;
    }

    .nm {
        font-size: 26px;
    }

    .c3 {
        font-size: 54px;
    }

    .b2 {
        font-size: 34px
    }



    .a9 {
        height: 125px;
        width: auto;
        gap: 5px;
        font-size: 35px;
    }

    .a1 {
        font-size: 40px;
        padding-top: 10px;
    }



    .ab {
        font-size: 40px;
    }

    

    .b1 {
        width: fit-content;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .a8 {
        padding-top: 10%;
    }

    .c1 {
        width: 900px;
        flex-direction: column;
        justify-content: center;

    }

    .a6 {
        font-size: 55px;
    }

    .b5 {
        font-size: 60px;
    }

    .a5 {
        font-size: 50px;
    }

    .a8 {
        height: 85px;
        font-size: 45px;
    }

    .a7 {
        height: 65px;
        width: auto;
        font-size: 45px;
    }

    .b3 img {
        text-align: center;
        height: 500px;
        width: 500px;
    }

    .b9 {
        font-size: 55px;
    }


    .icon {
        align-items: center;
        height: 50px;
        width: 190px;
        margin-left: 30%;
    }

    .d3 img {
        text-align: center;
        height: 500px;
        width: 500px;
    }

    .b6 {
        height: 65px;
        font-size: 45px;
        padding: 0%;
    }

    .b7 {
        height: 65px;
        font-size: 45px;
        padding: 0%;
    }

    .c8 {
        width: 50%;
        font-size: 50px;
        justify-content: center;
    }

    .c4 {
        width: 50%;
        padding-top: 5%;
        flex-direction: column;

    }

    .c5 {
        font-size: 30px;
        height: 270px;
    }

    .c6 {
        font-size: 40px;
        gap: 20px;
    }

    .c7 {
        font-size: 40px;
        gap: 20px;
    }

    .a2 {
        height: 65px;
        width: 65px;
        font-size: 40px;
    }

    .a3 {
        font-size: 55px;
    }

   

    .cc{
        font-size: 25px;
    }

}

@media(max-width:300px){

    #navbar{
        padding-left:45%
    }
    .i1 {
        height: 900px;
        width: 1050px;

    }

    .i2 {
        height: 1200px;
        width: 1050px;
    }

    .i3 {
        height: 900px;
        width:1050px;
    }

    .c2 {
        gap: 10px;
        width: 105%;
        flex-direction: column;

    }

    .b1{
        padding-left: 0%;
        margin-left: 20%;
    }

    .a5{
        font-size: 35px;
        padding-left: 10%;
     }

    .xyz{
        width: 75%;

    }

    .c1{
        padding-left: 0%;
        margin-left: 100px;
        align-items: center;
        width: 800px;
    }

    
    .b9{
        font-size: 35px;
        padding-left: 10%;
    }

    .icon{
        width: 190px;
        height: 50px;
    }

    .cc{
        font-size: 25px;
    }
}